{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block bodycontent %}
<section id="file-export">
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-sm-row flex-column justify-content-between">
            <h4 class="card-title align-self-center">Change Password</h4>
            </div>
        </div>
        <div class="card-content ">
            <div class="card-body">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change" novalidate>
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label for="id_oldpassword">Current Password {% if form.oldpassword.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                            <input type="password" name="oldpassword" class="form-control mb-2" placeholder="Current Password"
                                autocomplete="current-password" required="" id="id_oldpassword">
                            {% if form.oldpassword.errors %}
                            {% for error in form.oldpassword.errors %}
                            <span style="color: red;">{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="id_password1">New Password {% if form.password1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                            <input type="password" name="password1" class="form-control mb-2" placeholder="New Password"
                                autocomplete="new-password" required="" id="id_password1">
                            {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                            <span style="color: red;">{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="id_password2">New Password (again) {% if form.password2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                            <input type="password" name="password2" class="form-control mb-2" placeholder="New Password (again)" required=""
                                id="id_password2">
                            {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                            <span style="color: red;">{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    
                    <div class="d-flex justify-content-between flex-sm-row flex-column mt-3">
                        <div>
                            <button type="submit" class="btn btn-primary mr-2" name="action"><i class="ft-edit mr-1"></i>{% trans "Change Password" %}</button>
                            <button type="button" class="btn btn-secondary" onclick="history.back()"><i class="ft-x mr-1"></i>Cancel</button>
                        </div>
                        {% comment %} <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% endcomment %}
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}