{% load widget_tweaks %}
{% load custom_template_tags %}
{% load static %}

<tr data-id="None" data-order="">
    <td>
        <div class="row">
            <div class="col-3 mb-1">
                <div class="controls">
                    <div class="d-flex justify-content-between">
                        <div class="mt-1">
                            <label>{{multipleVendorDiscounts.empty_form.brand.label}}{% if multipleVendorDiscounts.empty_form.brand.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        </div>
                        <div class="col-10">
                            <div class="help-block validate-email">
                                {{multipleVendorDiscounts.empty_form.brand}}
                                {% for error in multipleVendorDiscounts.empty_form.brand.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 mb-1">
                <div class="controls">
                    <div class="d-flex justify-content-between">
                        <div class="mt-1">
                            <label>{{multipleVendorDiscounts.empty_form.discount.label}}{% if multipleVendorDiscounts.empty_form.discount.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        </div>
                        <div class="col-10">
                            <div class="help-block validate-email">
                                {{multipleVendorDiscounts.empty_form.discount}}
                                {% for error in multipleVendorDiscounts.empty_form.discount.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 mb-1">
                <div class="controls">
                    <div class="d-flex justify-content-between">
                        <div class="mt-1">
                            <label>{{multipleVendorDiscounts.empty_form.discount_percent.label}}{% if multipleVendorDiscounts.empty_form.discount_percent.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        </div>
                        <div>
                            <div class="help-block validate-email">
                                {{multipleVendorDiscounts.empty_form.discount_percent}}
                                {% for error in multipleVendorDiscounts.empty_form.discount_percent.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 mb-1">
                <div class="controls">
                    <div class="d-flex justify-content-between">
                        <div class="mt-1 col-6">
                            <label>{{multipleVendorDiscounts.empty_form.additional_discount.label}}{% if multipleVendorDiscounts.empty_form.additional_discount.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        </div>
                        <div>
                            <div class="help-block validate-email">
                                {{multipleVendorDiscounts.empty_form.additional_discount}}
                                {% for error in multipleVendorDiscounts.empty_form.additional_discount.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </td>
    <td>
        <label for="{{ multipleVendorDiscounts.empty_form.DELETE.auto_id }}" class="btn btn-default btn-circle-inline inlineform-remove">
            <i class="ft-minus danger font-medium-3"></i>
            {{ multipleVendorDiscounts.empty_form.DELETE|add_attr:"class:d-none" }}
        </label>


        {% for hidden in multipleVendorDiscounts.empty_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
    </td>
</tr>
