<input type="text" value="{{customer_id}}" id="id_customer" hidden>

<section>
        <div class="table-responsive">
            <table class="table table-striped table-bordered file-export" id="order_table">
                <div class="mb-2">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <h4 class="card-title align-self-center">Order List</h4>
                      </div>
                </div>
                <thead>
                    <tr>
                    <th>Sr no</th>
                    <th>Date</th>
                    <th class="text-center">Status</th>
                    <th>Item</th>
                    <th>Total Amount</th>
                    <th>Paid Amount</th>
                    <th>Due Amount</th>
                    <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
</section>