<input type="text" value="{{customer_id}}" id="id_customer" hidden>

<section>
<div class="row mt-4 ">
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped table-bordered file-export" id="billing_table">
                <div class="mb-2">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <h4 class="card-title align-self-center">Billing Address</h4>
                        <a href="{% url 'customer:customer_billing_addressinfo_create' pk=customer_id %}" class="btn btn-primary ml-sm-1">Add New Billing Address</a>
                      </div>
                </div>
                <thead>
                    <tr>
                    <th>Sr no</th>
                    <th>Billing Address</th>
                    <th class="text-center">Default</th>
                    <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped table-bordered file-export" id="shipping_table">
                <div class="mb-2">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <h4 class="card-title align-self-center">Shipping Address</h4>
                        <a href="{% url 'customer:customer_shipping_addressinfo_create' pk=customer_id %}" class="btn btn-primary ml-sm-1">Add New Shipping Address</a>
                      </div>
                </div>
                <thead>
                    <tr>
                    <th>Sr no</th>
                    <th>Shipping Address</th>
                    <th class="text-center">Default</th>
                    <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>