<input type="text" value="{{customer_id}}" id="id_customer" hidden>

<section>
        <div class="table-responsive">
            <table class="table table-striped table-bordered file-export" id="contact_table">
                <div class="mb-2">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <h4 class="card-title align-self-center">Contacts List</h4>
                        <a href="{% url 'customer:contact_add' customer_id %}" class="btn btn-primary ml-sm-1">Add Contact</a>
                      </div>
                </div>
                <thead>
                    <tr>
                    <th>Sr no</th>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Is Default</th>
                    <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
</section>