{% extends 'base.html' %}
{% load static %}
{% block title %} 
    {% if form.instance.id %}
        Update Replacement
    {% else %}
        Create Replacement
    {% endif %}
{% endblock title %}
{% block bodycontent %}
<section id="horizontal-form-layout">
    <div class="content-header">
        {% if form.instance.id %}
            Update Replacement
        {% else %}
            Create Replacement
        {% endif %}</div>
        <div class="row match-height">
            <form action="" method="post" class="order-form" enctype="multipart/form-data" id="replacement_form" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body row g-3 p-3">
                                    {% if request.user.is_superuser %}
                                        {% if form.company %}
                                            <div class="form-group col-md-6">
                                                <label>Brand{% if form.company.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                                                {{form.company}}
                                                {% if form.company.errors %}
                                                {% for error in form.company.errors %}
                                                <p style="color: red;">{{error}}</p>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <input type="text" name="company" id="id_company" value="{{request.user.get_company_id}}" hidden>
                                    {% endif %}

                                    <div class="form-group col-md-6">
                                        <label>{{form.customer.label}}{% if form.customer.field.required %} {% if form.instance.customer.is_locked %}<span class="text-danger font-weight-bold">(Locked)</span>{% endif %} <span style="color: red;">*</span>{% endif %}</label>
                                        {{form.customer}}
                                        {% if form.customer.errors %}
                                            {% for error in form.customer.errors %}
                                            <p style="color: red;">{{error}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>Customer Code</label>
                                        <input type="text" name="code" class="form-control" id="id_customer_code" value="{{ form.instance.customer.code }}" readonly />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Zone</label>
                                        <input type="text" name="zone" class="form-control" id="id_zone" value="{{ form.instance.customer.zone.zone_code }}" readonly />
                                    </div>

                                    <div class="form-group col-md-6">
                                        {% comment %} <label>Order<span style="color: red;">*</span></label>
                                        <select name="order" class="form-control" id="id_order">
                                        </select> {% endcomment %}

                                        <label>{{form.order.label}}{% if form.order.field.required %} {% if form.instance.order.is_locked %}<span class="text-danger font-weight-bold">(Locked)</span>{% endif %} <span style="color: red;">*</span>{% endif %}</label>
                                        {{form.order}}
                                        {% if form.order.errors %}
                                            {% for error in form.order.errors %}
                                            <p style="color: red;">{{error}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Product<span style="color: red;">*</span></label>
                                        <select name="product" class="form-control" id="id_product">
                                        </select>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="text-end mx-1">
                                            <button class="btn btn-primary" type="button" onclick="add_product()"><i class="ft-plus"></i> Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <small><b>Products</b></small>
                            </div>
                            <div class="card-content">
                                <div class="card-body table-responsive">
                                    <table id="table_added_products" class="table text-center m-0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Order</th>
                                                <th>Product</th>
                                                <th>Vehicle</th>
                                                <th>Unit Price (₹)</th>
                                                <th>Ordered Quantity</th>
                                                <th>Replace Quantity</th>
                                                <th>Replace Amount (₹)</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="no-product-row">
                                                <td colspan="8"><p>No products added</p></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" >
                                                    <div class="d-flex justify-content-start">
                                                        <label class="label-control mt-2 font-weight-bold" for="{{form.return_type.auto_id}}">{{form.return_type.label}} :</label>
                                                        <div class="col-md-5" class="text-start">
                                                            <div class="input-group">
                                                                {{form.return_type}}
                                                            </div>
                                                            {% if form.return_type.errors %}
                                                                {% for error in form.return_type.errors %}
                                                                <div style="color: red; text-align: start;">{{error}}</div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <div class="d-flex justify-content-end">
                                                        <label class="label-control mt-2 font-weight-bold" for="{{form.total_amount.auto_id}}">{{form.total_amount.label}} :</label>
                                                        <div class="col-md-7">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">₹</span>
                                                                </div>
                                                                {{form.total_amount}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input type="hidden" name="product_id_list" id="product_id_list" value="" />
                    <div class="col-md-12 col-12">
                        <div class="d-flex flex-sm-row flex-column justify-content-end">
                            <button type="submit" name="submit" value="save" class="btn btn-primary mr-2"><i class="ft-check-square mr-1"></i>Save</button>
                            <button type="button" value="go back" class="btn btn-secondary" onclick="history.back()"><i class="ft-x mr-1"></i>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
    <script>
        const customer_search_url = "{% url 'customer:customer_search' %}"
        const order_search_url = "{% url 'order:order_search' %}";
        const product_search_url = "{% url 'order:order_product_search' %}";
        const add_replacement_product_url = "{% url 'order:add_replacement_product' %}";
        var company_admin_company_id = null;
        var update_form = false;

        {% if request.user.role == 'company admin' or request.user.role == 'sales representative'  %}
        var company_admin_company_id = $("#id_company").val();
        {% endif %}

        {% if form.instance.id %}
        var update_form = true;
        var replacement_id = '{{form.instance.id}}'
        {% endif %}
    </script>

    <script src="{% static 'webapp/customer/replacement.js' %}"></script>
{% endblock script %}
  